@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@layer components {
  .btn-primary {
    @apply font-semibold py-1.5 px-3 text-gray-900 border border-blue-500 rounded-2xl shadow-md text-center align-baseline;
  }

  .text {
    text-align: center;
    margin: 30px 0px;
  }

  .nav {
    width: 100vw;
    height: 80px;
    display: flex;
    padding: 14px 16px;
    margin-bottom: 7px;
    justify-content: flex-end;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: fixed;
    top: 1px;
    left: 1px;
    align-items: center;
  }

  .mg {
    margin: 100px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
  }

  .bt {
    margin-right: 15px;
  }
}
